.chat {
    flex: 1 1 auto;  /* This ensures the chat component can grow and shrink */
    overflow-y: auto;
    padding: 10px;
    border-radius: 5px;
    background-color: #fefefe;
    height: 100%;
}


.message {
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #333;
}

.user {
    background-color: #7fffd4;
}

.assistant {
    background-color: #f0f8ff;
}
