<!DOCTYPE html>
<html>
<head>
    <title>Chatbot</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div id="conversationsPane">
        <h2>Conversations</h2>
        <!-- Buttons will be added here dynamically -->
    </div>
    <div id="mainContent">
        <div id="chatbox">
            <h2>Chat</h2>
            <!-- ... rest of your HTML ... -->
        </div>
        <form id="messageForm">
            <textarea id="messageInput" placeholder="Type your message here..." rows="1"></textarea>
            <button type="submit">Send</button>
        </form>
        <div id="optionsPane">
            <button id="optionsButton">&#8942;</button>
            <div id="optionsDropdown">
                <a href="#" id="changeModel">Change AI Model</a>
                <a href="#" id="customInstructions">Custom Instructions</a>
                <a href="#" id="uploadFile">Upload a File</a>
            </div>
        </div>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#optionsButton').click(function(event) {
                event.stopPropagation();
                $('#optionsDropdown').toggle();
            });
            $(document).click(function() {
                $('#optionsDropdown').hide();
            });
        });
    </script>
</body>
</html>
