:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

app-options {
    flex: 0;
}

.container {
    display: flex;
    flex: 1;
}

.chat {
    flex-grow: 1;  /* Apply flex-grow to the .chat class */
}

app-message-input {
    flex: 0;
}
